.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
output/*
Figures and tables.docx
pheromone paper draft.docx
data/behaviour_data_OLDER_VERSION.csv
data/raw_blinded_behaviour_data_OLD_VERSION.csv
~$eromone paper draft.docx
~$gures and tables.docx
